<section class="contact-index">
  <div class="hero__card">
    <h2 class="hero__text">Contact</h2>
    <p class="hero__text">
      <a class="contact-index__link" href="/contact">Get in touch if need something</a>
    </p>
  </div>
</section>