<section class="contact-index">
  <div class="hero__card">
    <h2 class="contact-heading">Contact</h2>
    <p class="hero__text"> I'd love to talk about how we can reach your digital goals together.
      <a class="contact-index__link" href="/contact">
        Drop me a message
      </a> and I'll get back to you swiftly.
    </p>
    <a class="hero__text contact-index__link" href="mailto:hello@romanwaters.com">hello@romanwaters.com</a>
    <a class="hero__text contact-index__link" href="tel:+447723459319">07723 459319</a>
  </div>
</section>