<section class="panel" data-color="#1B0C14">
  {# <div class="max-w-lg mx-auto">
    <h2 class="text-3xl lg:text-4xl font-bold mb-6">Contact</h2>
    <p class="text-xl mb-6"> I'd love to talk about how we can reach your digital goals together.
      <a class="text-gray-950 hover:underline hoverable font-bold " href="/contact">
        Drop me a message</a> to get started.
    </p>
    <span class="block mb-4">
      <a class=" font-bold text-gray-950 hover:underline hoverable" href="mailto:hello@romanwaters.com">hello@romanwaters.com</a>
    </span>
    <span class="block mb-4">
      <a class=" font-bold text-gray-950 hover:underline hoverable" href="tel:+447723459319">07723 459319</a>
    </span>
  </div> #}
  <div class="isolate px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl sm:text-center">
      <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Contact</h2>
      <p class="mt-2 text-lg leading-8">I'd love to talk about how we can reach your digital goals together.</p>
      <a href="/contact" class="text-sm font-semibold hover:underline animate-glow leading-6">Drop me a message to get started <span aria-hidden="true">&rarr;</span></a>

    </div>
  </div>

</section>