<footer class="footer mt-8">
  <div class="container mx-auto flex flex-col items-center justify-center md:justify-between">
    <!-- Social Icons Container -->
    <div class="flex items-center justify-center md:justify-start md:mt-0">
      <a href="https://github.com/watersro" target="_blank" class="hover:opacity-75">
        <img src="/assets/images/github_icon.svg" alt="Github" class="w-6 h-6"/>
      </a>
      <a href="https://www.linkedin.com/in/roman-waters/" target="_blank" class="ml-4 hover:opacity-75">
        <img src="/assets/images/linkedin_logo_icon.svg" alt="Linkedin" class="w-6 h-6"/>
      </a>
      <a href="https://medium.com/@waters_ro" target="_blank" class="ml-4 hover:opacity-75">
        <img src="/assets/images/medium_logo_icon.svg" alt="Medium" class="w-6 h-6"/>
      </a>
    </div>

    <p class="text-center mt-4 md:mt-0 md:flex-grow">&copy; Roman Waters {% year %}</p>
  </div>
</footer>