<footer class="footer">
  <div class="flex flex-col md:flex-row items-center justify-between max-w-6xl mx-auto">
    <!-- Social Icons Container -->
    <div class="flex justify-center md:justify-start md:ml-4">
      <a href="https://github.com/watersro" target="_blank" class="hover:opacity-75">
        <img src="/assets/images/github_icon.svg" alt="Github" class="w-6 h-6" />
      </a>
      <a href="https://www.linkedin.com/in/roman-waters/" target="_blank" class="ml-4 hover:opacity-75">
        <img src="/assets/images/linkedin_logo_icon.svg" alt="Linkedin" class="w-6 h-6" />
      </a>
      <a href="https://medium.com/@waters_ro" target="_blank" class="ml-4 hover:opacity-75">
        <img src="/assets/images/medium_logo_icon.svg" alt="Medium" class="w-6 h-6" />
      </a>
    </div>

    <!-- Footer Text, visually centered -->
    <p class="hidden md:block md:flex-grow text-center">&copy; Roman Waters {% year %}</p>
    
    <!-- Invisible Placeholder for balancing the layout -->
    <div class="hidden flex justify-center md:justify-end md:flex-grow md:">
      <div class="invisible">
        <a class="ml-4 hover:opacity-75">
          <img src="/assets/images/github_icon.svg" class="w-6 h-6" />
        </a>
        <a class="ml-4 hover:opacity-75">
          <img src="/assets/images/linkedin_logo_icon.svg" class="w-6 h-6" />
        </a>
        <a class="ml-4 hover:opacity-75">
          <img src="/assets/images/medium_logo_icon.svg" class="w-6 h-6" />
        </a>
      </div>
    </div>
    
    <!-- Footer Text for mobile, to ensure it's displayed -->
    <p class="md:hidden text-center w-full">&copy; Roman Waters {% year %}</p>
  </div>
</footer>
