<header class="header header-container" data-color="cyan">
  <nav class="navbar">
    <h1 class="header__title">
      <a href="/">RW</a>
    </h1>
    <ul class="header__links nav-menu">
      <li>
        <a class="header__link nav-link" href="/about" >About</a>
      </li>
      <li>
        <a class="header__link nav-link" href="/contact">Contact</a>
      </li>
    </ul>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>