<header class="header header-container" data-color="cyan">
  <h1 class="header__title">
    <a href="/">RW</a>
  </h1>
  <ul class="header__links">
    <li>
      <a class="header__link" href="/about">About</a>
    </li>
    <li>
      <a class="header__link" href="/contact">Contact</a>
    </li>
  </ul>
</header>