<section class="panel lg:min-h-[75vh] md:min-h-[75vh] sm:min-h-screen flex lg:items-center md:items-center justify-center p-10" data-color="0C141B">
  <div class="max-w-5xl mx-auto sm:text-left">
    <h3 class="text-lg text-gray-600 mb-1">Roman Waters</h3>
    <h2 class="text-5xl lg:text-10xl md:text-8xl sm:text-6xl font-bold mb-6 text-gray-900">Dynamic Freelance Web Developer.</h2>
    <p class="text-2xl">
      I help SMEs get and keep customers with expert designs and tailored solutions, so they can grow their business and stand out in their market.    
    </p>
    <h3 class="text-2xl">
      <a class=" hover:underline font-bold animate-glow" href="/contact">Book your free consultation to get started.</a>
    </h3>
  </div>
</section>
