<section class="panel md:min-h-fit flex md:items-baseline justify-center p-10" data-color="0C141B">
  <div class="max-w-5xl mx-auto sm:text-left">
    <span class="text-lg mb-1">WordPress · WooCommerce · Shopify</span>
    <h1 class="text-5xl lg:text-7xl md:text-8xl sm:text-6xl font-bold mb-6">Websites built for clarity, usability, and conversion</h1>
    <p class="text-2xl">
      Design and development focused on simplifying complex stores and improving user experience - making it easier for customers to buy and businesses to grow.
    </p>
    <p class="text-2xl">
      <a class=" hover:underline font-bold animate-glow" href="/contact/">Book a free consultation today.</a>
    </p>
  </div>
</section>
