<section class="panel lg:min-h-[75vh] md:min-h-[75vh] sm:min-h-screen flex lg:items-center md:items-center justify-center p-10" data-color="CBEBF2">
  <div class="max-w-5xl mx-auto lg:text-justify md:text-justify sm:text-left">
    <h2 class="text-3xl lg:text-10xl font-bold mb-6 text-gray-900">Hey! I'm Roman, a dynamic freelance web developer.
      I work with small businesses to provide solutions to digital problems.
    </h2>
    <p class="text-2xl">
      Using a blend of technical expertise, asset-based approach and background in life-coaching,
       I ensure you connect with people in a way authentic to you and your business.
    </p>
    <h3 class="text-2xl">
      <a class="text-gray-950 hover:underline font-bold " href="/contact">Book your free consultation to get started.</a>
    </h3>
  </div>
</section>