<header class="header header-container" data-color="CBEBF2">
  <nav class="navbar">
    <h1 class="header__title text-4xl font-bold">
      <a href="/">RW</a>
    </h1>
    <div class="header__links nav-menu px-0">
      <span>
        <a class="header__link nav-link text-3xl py-4 pr-4 font-black font-bold" href="/about" >About</a>
      </span>
      <span>
        <a class="header__link nav-link text-3xl py-4 pr-4 font-black font-bold" href="/portfolio">Portfolio</a>
      </span>
      <span>
        <a class="header__link nav-link text-3xl py-4 pr-4 font-black font-bold" href="/contact">Contact</a>
      </span>
    </div>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>