<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Roman Waters",
  "image": "{{ site.logo | default('/assets/images/my-site.webp') }}",
  "@id": "https://romanwaters.com/",
  "url": "https://romanwaters.com/",
  "telephone": "+44 7723 459319",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Brighton",
    "addressLocality": "Brighton",
    "addressRegion": "East Sussex",
    "postalCode": "BN1",
    "addressCountry": "GB"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 50.8225,
    "longitude": -0.1372
  },
  "openingHoursSpecification": [{
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday"
    ],
    "opens": "09:00",
    "closes": "18:00"
  }],
  "sameAs": [
    "https://www.linkedin.com/in/romanwaters/",
    "https://github.com/watersro"
  ]
}
</script>
