<section class="profile">
  <div class="profile__image-wrapper">
    {% EleventyImage "/assets/images/profile.jpg", "Roman Waters, Web Developer", "(min-width: 16em) 50vw, 100vw" %}
  </div>
  <div class="profile__card">
    <p class="profile__text">Hi! I'm <span class="profile__text--highlight">Roman</span>, Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p class="profile__text">As a <span class="profile__text--highlight">Web Developer</span>, Vestibulum eu condimentum ipsum. ros, gravida quis cursus ut, suscipit ac risus. Proin efficitur justo egestas laoreet malesua</p>
    <p class="profile__text">Vestibulum eu condimentsusin efficitur justo egestas laoreet malesua</p>
    <p class="profile__text">ero. Nulla tortor eros, gravida quis cursus ut, suscipit ac risus. Proin efficitur justo egestas laoreet malesua</a>.<p>
  </div>
</section>