<article class="relative isolate flex flex-col justify-end overflow-hidden rounded-xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80 group">
  <img src="{{ project.data.image }}" alt="project.data.imageAlt" class="absolute inset-0 -z-10 h-full w-full object-cover transition-transform duration-300 group-hover:scale-110">
  <div class="absolute inset-0 -z-10 project-card__gradient"></div>
  <div class="absolute inset-0 -z-10 project-card__ring"></div>

  <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
    <a href="{{ project.url }}">
      <span class="absolute inset-0"></span>
      {{ project.data.headline }}
    </a>
  </h3>
</article>