<div class="block rounded-lg overflow-hidden bg-slate-100 transition-transform duration-200 hover:scale-105">
  <a href="{{ project.url }}">
    <div class="w-full h-48 bg-cover bg-center"> 
      {% EleventyImage project.data.image, project.data.imageAlt, "(min-width: 30em) 50vw, 100vw" %}
    </div>
    <div class="p-6">
      <h5 class="mb-2 text-xl font-medium leading-tight font-semibold">{{ project.data.headline }}</h5>
      <p class="mb-4">{{ project.data.summary }}</p>
    </div>
  </a>
</div>