<div class="services">
  <h2 class="services__heading">Services</h2>
  <article class="service-card">
    <div class="service-card__body">
      <h3 class="service-card__title">
        <a>Web Development</a>
      </h3>
      <p class="service-card__summary">blah blah blah blah blah blah blah blah blah blah blah</p> 
      </a>
    </div>
  </article>
  <article class="service-card">
    <div class="service-card__body">
      <h3 class="service-card__title">
        <a>Support Maintenance</a>
      </h3>
      <p class="service-card__summary">blah blah blah blah blah blah blah blah blah blah blah</p> 
      </a>
    </div>
  </article>
  <article class="service-card">
    <div class="service-card__body">
      <h3 class="service-card__title">
        <a>Site Audits</a>
      </h3>
      <p class="service-card__summary">blah blah blah blah blah blah blah blah blah blah blah</p> 
      </a>
    </div>
  </article>
  <article class="service-card">
    <div class="service-card__body">
      <h3 class="service-card__title">
        <a>Copywriting</a>
      </h3>
      <p class="service-card__summary">blah blah blah blah blah blah blah blah blah blah blah</p> 
      </a>
    </div>
  </article>
</div>