<section class="panel flex min-h-screen items-center flex-col p-8 md:justify-center lg:justify-center" data-color="A2D2FF">
  <h2 class="mb-10 text-center text-4xl font-bold">Services</h2>
  <div class="max-w-screen-lg grid grid-cols-1 gap-y-8 md:grid-cols-2 lg:grid-cols-2 justify-center">
    <img class="h-auto max-w-sm mx-auto" src="/assets/images/web-dev.svg">
    <article class="p-6 text-gray-900 flex flex-col justify-start">
      <div>
        <h3 class="mb-4 text-2xl font-semibold">Web Development</h3>
        <p class="text-base text-gray-700">From concept to launch, I'll design and launch a hand-coded site that set the standard in regards to accessibility, speed and responsiveness. Optimised for every device, your website will be user-friendly and lightning fast.</p>
      </div>
    </article>
    <img class="h-auto max-w-sm mx-auto" src="/assets/images/support.svg">
    <article class="p-6 text-gray-900 flex flex-col justify-start">
      <div>
        <h3 class="mb-4 text-2xl font-semibold">Support</h3>
        <p class="text-base text-gray-700">Providing quick and careful maintenance to your website, keeping it thriving with dedicated or as-you-need-it support. I'll keep your website running smoothly, so you can focus on your business.</p>
      </div>
    </article>
    <img class="h-auto max-w-sm mx-auto" src="/assets/images/seo.svg">
    <article class="p-6 text-gray-900 flex flex-col justify-start">
      <div>
        <h3 class="mb-4 text-2xl font-semibold">Site Audits</h3>
        <p class="text-base text-gray-700">Didn't get a website from me? That's ok! I can still audit your site to find out what's doing well, and what could be improved on. From SEO to speed to security, I can provide insights that ensure your growth and your customers' experience.</p>
      </div>
    </article>
    <img class="h-auto max-w-sm mx-auto" src="/assets/images/copywriting.svg">
    <article class="p-6 text-gray-900 flex flex-col justify-start">
      <div>
        <h3 class="mb-4 text-2xl font-semibold">Copywriting</h3>
        <p class="text-base text-gray-700">Don't want to spend your time on copy? Let me inject your content with engaging content that will drive results in a way authentic to your business.</p>
      </div>
    </article>
  </div>
</section>