<div class="services" id="services">
  <h2 class="services__heading">Services</h2>
  <article class="service-card">
    <div class="service-card__body">
      <h3 class="service-card__title">Web Development</h3>
      <p class="service-card__summary">
        From concept to launch, I'll design and launch a hand-coded site 
        that set the standard in regards to accessiblity, speed and responsiveness. Optimized for
        every device, your website will be user-friendly and lightning fast.
      </p>
    </div>
  </article>
  <article class="service-card">
    <div class="service-card__body">
      <h3 class="service-card__title">
        Support Maintenance
      </h3>
      <p class="service-card__summary">
        Providing quick and careful maintenance to your website, 
        keeping it thriving with dedicated or as-you-need-it support. I'll keep your website 
        running smoothly, so you can focus on your business.
      </p>
    </div>
  </article>
  <article class="service-card">
    <div class="service-card__body">
      <h3 class="service-card__title">
        Site Audits
      </h3>
      <p class="service-card__summary">
        Didn't get a website from me? That's ok! I can still audit
         your site to find out what's doing well, and what could be 
         improved on. From SEO to speed to security, I can provide insights 
         that ensure your growth and your customers' experience.
      </p>
    </div>
  </article>
  <article class="service-card">
    <div class="service-card__body">
      <h3 class="service-card__title">
        Copywriting
      </h3>
      <p class="service-card__summary">
        Don't want to spend your time on copy? 
        Let me inject your content with engaging content 
        that will drive results in a way authentic to your business.
      </p>
    </div>
  </article>
</div>