<section class="technologies">
  <h2 class="technologies__heading">Technologies</h2>
  <ul class="technologies__list">
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/assets/images/html-5.svg" alt="Html logo">
      </div>
      <h3 class="technologies__title">HTML</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/assets/images/css-3.svg" alt="CSS logo">
      </div>
      <h3 class="technologies__title">CSS</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/assets/images/javascript.svg" alt="JavaScript logo">
      </div>
      <h3 class="technologies__title">JavaScript</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/assets/images/wordpress.svg" alt="wordpress logo">
      </div>
      <h3 class="technologies__title">Wordpress</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/assets/images/python.svg" alt="Python logo">
      </div>
      <h3 class="technologies__title">Python</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/assets/images/Ruby.svg" alt="Ruby logo">
      </div>
      <h3 class="technologies__title">Ruby</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/assets/images/rails.svg" alt="Rails logo">
      </div>
      <h3 class="technologies__title">Rails</h3>
    </li>
    <li class="technologies__item">
      <div class="technologies__logo">
      <img src="/assets/images/eleventy.svg" alt="Eleventy logo">
      </div>
      <h3 class="technologies__title">Eleventy</h3>
    </li>
  </ul>
</section>