<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{title}}">
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="Freelance digital web services based in Brighton and Hove, UK. Specializing in development and design, I offer tailored solutions to propel your projects forward. With a focus on user-centric design and cutting-edge technology, I help individuals and businesses achieve their professional and personal aspirations. Reach out today to explore how we can work together to elevate your online presence and ensure your project goals are met.">
    <meta property="og:type" content="website">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{'/assets/css/style.css' | url | safe}}">
    <title>{{ title }}</title>
  </head>
  <body class="font-body relative">

    <div class="cursor">
      <div class="cursor__ball cursor__ball--big">
        <svg height="30" width="30">
          <circle cx="15" cy="15" r="12"></circle>
        </svg>
      </div>
    </div>

    <canvas id="canvas" class="fixed top-0 left-0 w-full h-full -z-20"></canvas>

    <div class="relative z-10 min-h-screen flex flex-col">
      {% include "components/header.njk" %}
      <main class="flex-grow overflow-hidden">
        {{ content | safe }}
      </main>
      {% include "components/footer.njk" %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/simplex-noise/simplex-noise.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/assets/js/background-animation.js"></script>

    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/cursor-circle.js"></script>
  </body>
</html>