<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{title}}">
    <meta property="og:url" content="https://romanwaters.com/"/>
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="Freelance digital web services based in Brighton and Hove, UK. Specializing in development and design, I offer tailored solutions to propel your projects forward. With a focus on user-centric design and cutting-edge technology, I help individuals and businesses achieve their professional and personal aspirations. Reach out today to explore how we can work together to elevate your online presence and ensure your project goals are met.">
    <meta name="description" content="Freelance digital web services based in Brighton and Hove, UK. Specializing in development and design, I offer tailored solutions to propel your projects forward. With a focus on user-centric design and cutting-edge technology, I help individuals and businesses achieve their professional and personal aspirations. Reach out today to explore how we can work together to elevate your online presence and ensure your project goals are met.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.romanwaters.com/assets/images/og_image.png"/>
    <meta property="og:locale" content="en_GB"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{'/assets/css/style.css' | url | safe}}">
    <title>{{ title }}</title>
    <head>
  <script>
    (function() {
      const isInverted = localStorage.getItem("isInverted") === "true";
      if (isInverted) {
        document.documentElement.classList.add("inverted");
      }
    })();
  </script>
</head>

  </head>

  <body class="font-body relative">

    <div class="cursor">
      <div class="cursor__ball cursor__ball--big">
        <svg height="30" width="30">
          <circle cx="15" cy="15" r="12"></circle>
        </svg>
      </div>
    </div>

    <canvas id="canvas" class="fixed top-0 left-0 w-full h-full z-0"></canvas>

    <div id="page" class="relative z-10 min-h-screen flex flex-col">
      {% include "components/home-header.njk" %}
      <main class="flex-grow">
        {{ content | safe }}
      </main>
      {% include "components/footer.njk" %}

    </div>
    <button id="toggle-invert" class="fixed bottom-4 right-4 p-2 rounded-full shadow-lg z-10 bg-gray-800 text-white hover:bg-gray-700 transition" alt="Dark and light mode toggle">
      <svg id="dark-icon" class="h-6 w-6 icon-color hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 118.646 3.646 9.003 9.003 0 0020.354 15.354z"></path>
      </svg>
      <svg id="light-icon" class="h-6 w-6 hidden icon-color" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <circle cx="12" cy="12" r="5" stroke="currentColor" stroke-width="2"></circle>
        <g stroke="currentColor" stroke-width="2">
          <line x1="12" y1="1" x2="12" y2="3"></line>
          <line x1="12" y1="21" x2="12" y2="23"></line>
          <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
          <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
          <line x1="1" y1="12" x2="3" y2="12"></line>
          <line x1="21" y1="12" x2="23" y2="12"></line>
          <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
          <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
        </g>
      </svg>

    </button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/simplex-noise/simplex-noise.min.js"></script>
    <script src="/assets/js/background-animation.js"></script>

    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/cursor-circle.js"></script>
    <script src="/assets/js/invert.js"></script>

  </body>
</html>