---
title: "Page Not Found | Freelance Web Developer | Roman Waters"
layout: "layouts/base.njk"
permalink: 404.html
---

<section class="max-w-none md:max-w-3xl mx-auto p-5">
  <h2 class="text-3xl text-gray-900 md:text-4xl font-bold text-center mb-6">Hmm... that page doesn't seem to exist</h2>
  <button class="bg-gray-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Back to home</button>
</section>