---
title: "About | Freelance Web Developer | Roman Waters"
layout: "layouts/base.njk"
---

<section class="max-w-none md:max-w-3xl mx-auto p-5">
  <h2 class="text-3xl text-gray-900 md:text-4xl font-bold text-center mb-6"> About me</h2>
    <p class="text-xl leading-relaxed mb-4">Hey, I'm Roman Waters, a freelance web developer. I live in Brighton, 
      in the south-east of the UK <div class="profile__image-wrapper">
        {% EleventyImage "/assets/images/profile.jpg", "Roman Waters, Web Developer", "(min-width: 16em) 50vw, 100vw" %}
      </div></p> 
    <p class="text-lg leading-relaxed mb-4">In addition to my passion for web development, 
      I have a background in web security, having explored the world of ethical hacking. 
      This fun perspective enables me to build websites that not only look great but also 
      prioritize the safety and security of both yours and your users' data.
    </p>
    <p class="text-lg leading-relaxed mb-4">
      I owe my expertise to a diverse range of experiences. A surprising one is my work with young people
      as life coach! Working with a local charity to empower young people has earned me
        <a class="font-bold text-gray-950 hover:underline" target=”_blank” href="https://www.rockinghorse.org.uk/news/rockinghorse-funded-service-wins-national-award/">recognition</a> and
      fulfilment, as well as honing my skills in problem-solving and adaptability.
    </p>
    <p class="text-lg leading-relaxed mb-4">
      Also informed by a degree in business, I bring an analytical and asset based approach to
      web development. This ensures your website is not just great, but also strategically 
      impactful for your success.
    </p>
    <p class="hero__text"> Piqued your interest?
      <a class="contact-index__link" href="/contact">
        Drop me a message
      </a> and we'll talk.
    </p>
</section>
