---
title: "Portfolio | Freelance Web Developer | Roman Waters"
layout: "layouts/base.njk"
---
<section class="p-5 ">
  <h2 class="text-3xl text-gray-900 md:text-4xl font-bold text-center mb-6">Portfolio</h2>
  <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
    {% asyncEach project in collections.portfolio %}
    {% include "components/project-card.njk" %}
    {% endeach %}
  </div>
</section>