---
title: "Eleventy Portfolio"
layout: "layouts/base.njk"
---

<h2 class="projects__heading">Recent projects</h2>
<div class="project-list">
  {% asyncEach project in collections.projects %}
    {% include "components/project-card.njk" %}
  {% endeach %}
</div>